.column {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: column;
}

.baseGameContainer {
    width: 600px;
    height: 600px;
}

.topPadding {
    height: 150px;
}

.dataContainer {
    padding-left: 50px;
}

.chatWindow {
    height: 300px;
    width: 500px;
    border: 1px;
    display: flex;
    overflow-y: scroll;
}

.chatItem {
    display: flex;
    height: 20px;
}