.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.tableRow {
    display: flex;
    flex-direction: row;
    border: 1px solid;
}

.container {
    width: 1600px;
    height: 400px;
}
.instanceContainer {
    width: 400px;
    height: 400px;
}

.topPadding {
    height: 150px;
}

.dataContainer {
    padding-left: 50px;
    padding-top: 20px;
    /*max-width: 600px;*/
}

.testCase {
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid;
}

.pass {
    font-size: 20px;
    color: Green;
    padding-left: 15px;
    padding-right: 15px;
}

.fail {
    font-size: 20px;
    color: Red;
    padding-left: 15px;
    padding-right: 15px;
}
.individualButton {
    margin-left: 8px;
    margin-right: 8px;
}

.title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.runAllContainer {
    padding-bottom: 20px;
    text-align: center;
}
.cell {
    width: 200px;
}

.headerCell {
    width: 200px;
    font-weight: bold;
}

.chatWindow {
    height: 150px;
    width: 450px;
    border: 1px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.chatItem {
    display: flex;
}